@model List<StocksProject.Models.AlphaVantageData>
@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br/>

    <h2>Top Five Technology Stocks</h2>

        @for(int i = 0; i < @Model.Count(); i++)
        {
            <div class="d-inline-block text-left p-2">
                <div class="font-weight-bold">@Model[i].Entries[0].Symbol.ToString()</div>
                <div>Open Price : @Model[i].Entries[0].Open.ToString("C2")</div>
                <div>High Price : @Model[i].Entries[0].High.ToString("C2")</div>
                <div>Low Price : @Model[i].Entries[0].Low.ToString("C2")</div>
                <div>Price : @Model[i].Entries[0].Price.ToString("C2")</div>
                <div>Volume : @Model[i].Entries[0].Volume.ToString()</div>
                <div>Latest Day : @Model[i].Entries[0].LatestDay.ToString("MM-dd-yyyy")</div>
                <div>Previous Close : @Model[i].Entries[0].PreviousClose.ToString("C2")</div>
                <div>Change : @Model[i].Entries[0].Change.ToString("C2")</div>
                <div>Change Percent : @Model[i].Entries[0].ChangePercent.ToString()</div>
            </div>
        }

</div>
